/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
	background-image: url("cork-wallet.png");
	margin: 0;
	height: 100%;
}

/*This 'header bar' is meant to be a position fixed bar that stays at the top 
of the page with my name, and links for navigation next to it using semantic 
elements. I am trying to use semantic elements as much as possible. 
This will have different layers, and the "headerBar" will go edge to edge.*/

.headerBar {
	background-color: #ffffff;	
	border-bottom: 3px solid #777777;
	margin: 0 auto;
	height: 90px;
	overflow: auto;
}


/*"narrowHeaderWrapper" is the container for containing the header and the nav 
tags in the 960px and centering it on the page.*/

.narrowHeaderWrapper	{
	margin: 0 auto;
	width: 80%;
	overflow: auto;
}

/*Formatting for the header on all pages, currently stating my name.*/
header {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	text-align: center;
	width: 275px;
	float: left;
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	font-weight: bold;
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*Style of the nav bar*/
nav {
	color: #777777;
	float: right;
	margin-top: 30px;
	word-spacing: 15px;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
}
/*This is adding a space between my navigation buttons for asthetics*/
#About, #Portfolio {
	border-right: 1px solid grey;
	padding-right: 15px;	
	margin-right: 10px;
	margin: 0 auto;
}

/*This is creating a background when I hover above a link*/
.hoverBorder:hover {
	background-color: grey;	
	
}
/*Style of the links and text within the nav bar*/
a {
	text-decoration: none;
	color: #777777;	
}

/*This class called "wrapper" is meant to wrap both the section element 
and the aside element, keeping the two columns centered in the page 
with margins between them. */

.wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	overflow: auto;
}

/*Formatting for the section semantic element.*/
section {
	width: 60%;
	float: left;	
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	padding-bottom: 15px;	
	overflow: auto;
}

/*Formatting for the header within the section area. */
section h1 {
	border-bottom: 3px solid #777777;
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
	padding-top: 30px;	
	margin-bottom: 15px;
}

/*ID for my headshot on my about page, and formatting for that id*/
#headShot {
	width: 40%;
	float: left;
	margin-right: 10px;
}

/*This contains the connect with me and formats that area*/
aside {
	float: right;
	width: 30%;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
	padding-bottom: 15px;
}

/*This is the formatting for the aside header, currently including "connect with me"*/
aside h1 {
	border-bottom: 3px solid #777777;
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 30px;	
	margin-bottom: 15px;
}

/*This is the formatting for the logos in the aside section. */
aside a img {
	width: 30%;
}

/*This class contains the formatting for all text in any paragraphs*/
.pText {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 200%;
}

/*This class applies to the photos on the left in portfolio*/
.img-block1 {
	width: 45%;
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 10px;
}

/*This class applies to the photos on the right in portfolio*/
.img-block2 {
	width: 45%;
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 10px;
}

/*This class applies to the headers of the photos in portfolio*/
.img-block h2 {
	position: absolute;
	margin-top: 10px;
}

/*This class is meant to apply to all photos inside the blocks*/
.img-responsive {
	width: 100%;
	float: left;
	position: relative;
}

/*This is the formatting for all of the names over the pictures in the 
portfolio file.*/

#pictureTitles {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;	
	bottom: 10px;
	width: 100%;
	position: absolute;

}

/*This container is specifically for the headshot on the about me page*/



.push {
	height: 155px;
	clear: left;
}


/*Formatting for my footer element*/
footer {
	background-color: #666666;
	clear: both;
	height: 100px;
	text-align: center;
	color: white;
	font-family: 'Georgia', Times, "Times New Roman", Serif;
	padding-top: 50px;
	border-top: 5px solid #4aaaa5;
}

/*This media query overrides certain elements if the width
of the page is less than 980px*/
@media screen and (max-width: 980px){

	.narrowHeaderWrapper {
		width:740px;
	}

	.wrapper {
		width: 740px;
	}


	.img-block1 {
		width: 100%;
	}
	
	.img-block2 {
		width: 100%;
	}

	#headShot {
		width: 100%;
	}

	
}

/*This media query overrides certain elements if the width
of the page is less than 768px*/

@media screen and (max-width: 768px){

	.narrowHeaderWrapper {
		width: 90%;
	}

	.wrapper {
		width: 90%;
	}

	section{
		width: 90%;
		float: none;
		margin: 0 auto;
		padding-left: 5%;
		padding-right: 5%;
	}
	
	aside {
		float: none;
		margin: 0 auto;
		width: 90%;
		margin-top: 10px;
		padding-left: 5%;
		padding-right: 5%;
	}

	#imageFloat {
		width: 40%;
	}

	.img-block1 {
		width: 45%;
	}
	
	.img-block2 {
		width: 45%;
	}

	aside a img {
	width: 15%;
	}
}
/*This media query overrides certain elements if the width
of the page is less than 640px*/
@media screen and (max-width: 640px){

	.narrowHeaderWrapper {
		width: 100%;
		overflow: auto;
		position: static;
		float: none;
		display: block;	

	}
	header {
		width: 100%;
		display: block;
		position: static;
		float: none;
	}

	.wrapper {
		width: 90%;
	}

	.headerBar {
		height: auto;
		overflow: auto;
		display: block;
		position: static;
		float: none;
	}

	nav {
		float: none;
		width: 100%;	
		position: static;
		display: block;
		text-align: center;
		margin: 0 auto;
		padding-top: 3%;
		padding-bottom: 3%;
	}

	section {
		width: 90%;
		margin: 0 auto;
	}

	aside {
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
		float: left;
	}

	.narrowHeaderWrapper header h1 {
		display: block;
	}
	
	#About, #Portfolio {
	padding-right: 5%;	
	margin: 0 auto;
	text-align: center;
	}

	.img-block1 {
		width: 100%;
	}
	
	.img-block2 {
		width: 100%;
	}	

	#imageFloat {
		width: 100%;
		padding-right: 0px;
	}

}